/** 
 * REM Function
 * Converts pixels to REM value
 * -------------------------------------------------- */


 @function rem($pixels) {

    @if (type-of($pixels) == number) {
        @if (unit($pixels) != "px") {
            @error "`#{$pixels}` needs to be a pixel value.";
        }
    } @else {
        @error "`#{$pixels}` needs to be a number.";
    }

    @return strip-units($pixels) / strip-units($g-font-size) + rem;
}
