/** 
 * Buttons
 * -------------------------------------------------- */

.btn {
    @include font-size(20px, 1);
    font-family: $family-medium;
    color: white;
    background-color: $color-red;
    min-width: rem(225px);   
    border-radius: rem(41px);
    border: 3px solid white;    
    height: 54px;
    margin-bottom: 90px;

    &:hover,
    &:active,
    &:focus {
        color: white;
    }

    @include mq(sm) {
        height: 60px;
    }
}

.submit {
    text-align: left;

    @include mq(md) {
        text-align: left;
    }

    @include mq(lg) {
        margin-left: 32%;
    }
}

//loading button
.buttonload {
    border: none;
    color: white;
    padding: 12px 24px;
}

.fa {
    margin-left: -12px;
    margin-right: 8px;
}