/**
 * Footer
 * -------------------------------------------------- */
 .footer {
    background-color: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 150px;
    
    .container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    }

    a {
        height: 30px;
        color: black;
        text-align: left;
        padding-top: 2px;
        font-size: 14px;
        font-family: $family-light;
        width: 100%;
    }
    a:hover {
        color: black;
        text-decoration: underline;
        text-align: left;
        font-size: 14px;
        font-family: $family-light;
    }

    p {
        font-size: 14px;
        height: 30px;
        padding-top: 2px;
        font-family: $family-light;
        width: 100%;
        text-align: right;
    }

    img {
        height: 100px;
    }

    h2 {
        margin: 0;

    }
}

.btn {
    color: white;
}
