/**
 * Form
 * -------------------------------------------------- */

.mainform {
     margin-left: 5%;
     margin-right: 5%;
 }
.form-section {
    background-color: $color-blue-dark;
    color: #ffffff;
}

.form-group {
    margin-bottom: $spacing-3;
}

.form-check-label {
    margin-right: 25px;
    margin-left: 10px;
    font-size: 17px;

    @include mq(sm) {
        font-size: 25px;
    }
}

#formGroupExampleInput {
    height: 100px;
}

.form {

    @include mq(lg) {
        max-width: 750px;
    }

    fieldset {
        border: none;
        padding: 0;
        margin-bottom: $spacing-3;
    }

    label {
        display: block;
        margin-bottom: $spacing-1;
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        @include font-size(20px);
        width: 100%;
        padding: 0 rem(20px);
        border: none;
        border-radius: 0;
        color: $color-gray-dark;
        height: 50px;
    }

    select {
        padding-right: 0;
    }

    input[type="submit"] {
        width: auto;
    }
    
}

.hidden {
    h3 {
        text-align: left;
        margin-bottom: 17px;
        margin-left: 0;
        
        @include mq(sm) {
            font-size: 29px;
        }

        @include mq(lg) {
            @include font-size(30px, 1.5);
        }
    }
}

span.error-message {
    pointer-events: none;
    position: absolute;
    bottom: 62px;
    right: 15px;
    background-color: $color-orange;
    padding: rem(8px) rem(20px);
    line-height: 1.3;
    margin-left: rem(15px);
    
    &:after {
        content: '';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid $color-orange;
        width: 0;
        height: 0;       
        position: absolute;
        left: 18px;
        bottom: -9px;
    }
}

//Prevents validated fields from turning green
.was-validated .custom-control-input:valid~.custom-control-label {
    color:white;
}

.was-validated .form-control:valid {
    border-color: #ced4da;
}

.custom-select.is-valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus {
    color: black;
    border-color: #ced4da;
}

.was-validated .form-check-input:valid~.form-check-label {
    color: black;
    border-color: #ced4da;
}

.name {
    outline: none;
    border-bottom: solid;
    border-width: thin;
    border-color: #ced4da;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control {
    border-radius: 0;
}

#formGroupExampleInput {
    height: 200px;
}

.nopadding {
    padding-right: 0 !important;
}

.form-check-input.is-invalid~.invalid-feedback,
.form-check-input.is-invalid~.invalid-tooltip,
.was-validated .form-check-input:invalid~.invalid-feedback,
.was-validated.form-check-input:invalid~.invalid-tooltip {
    line-height: 1.2;
}

.hidden-company {
    display: none;
}