/** 
 * Header
 * -------------------------------------------------- */

.navbar {
    background-color: #333538;
    height: 60px;
    position:relative;
    display:block;
    padding:30px 0;
    img {
        height: 22px;
        width: 59px;
        vertical-align: baseline;
    }

    a {
        display:block;
        height:22px;
    }
    
    .logo {
        position:absolute;
        top:50%;
        transform:translateY(-50%);
    }
}