/** 
 * Hero
 * -------------------------------------------------- */


.home .hero .inner {

    @include mq($until: sm) {
        padding-top: rem(60px + $height-nav-mobile);
        padding-bottom: rem(230px);
    }
    
    @include mq(xs-2) {
        width: 75%;
    }

    @include mq($from: sm, $until: lg) {
        width: 50%;
    }
}


.hero {
    display: flex;
    position: relative;
    //overflow: hidden;
    padding: 0;
    color: white;

    &.full {

        @include mq(lg) {
            min-height: 100vh;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inner {
        position: relative;
        z-index: 1;

        padding-top: rem(100px + $height-nav-mobile);
        padding-bottom: rem(100px);

        @include mq(md) {
            padding-top: rem(200px + $height-nav);
            padding-bottom: rem(200px);
        }        

        @include mq(lg) {
            padding-top: rem(200px);
        }
    }
}

.bg-venue-cube:after {
    content: url('../img/venue-cube.svg');
    position: absolute;

    width: 670px;
    left: calc(50% - 100px);
    bottom: -64px;

    @include mq(sm) {
        width: 900px;
        left: 55%;
        bottom: 100px;
    }

    @include mq(md) {
        width: 1100px;
        bottom: 200px;
    }

    @include mq(lg) {
        width: 1500px;
        bottom: calc(50% - 270px);  
    }

    @include mq(xl) {
        left: 50%;
    }
}