.byward-home {
    // width: 100%;
    // margin: 0;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    // padding-left: 100px;
    // padding-right: 100px;
    word-break: break-all;
    height: 100%;
}

