/** 
 * Numbers
 */

.numbers, .numbers1, .numbers2, .numbers3, .numbers4, .numbers5, .numbers6 {
    color: lightgray;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 30px;
    margin-right: 0;
    padding-bottom: 40px;
    border-bottom: solid;
    border-width: thin;

    @include mq(lg) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.custom-radio {
    border-radius: 40px;   
    color: $color-white;
    font-size: x-large;
    font-weight: 900;
    height: 50px;
    line-height: 68px;
    margin-right: 0;
    margin-bottom: 6px;
    padding-left: 0;

    @include mq(md) {
        height: 60px;
        margin-bottom: 10px;
        font-size: 34px;
    }

    @include mq(lg) {
        height: 70px;
        width: 70px;
    }

    label {
        line-height: 200%;      
        text-align: center;
        width: 100%;

        @include mq(md) {
            line-height: 165%;

        }
        @include mq(lg) {
            height: 70px;
            line-height: 68px;
        }
    }
}

.custom-radio:last-child {
    margin-right: 0;
}

.zero {
    background-color: $color-zero;
}
.one {
    background-color: $color-one;
}
.two {
    background-color: $color-two;
}
.three {
    background-color: $color-three;
}
.four {
    background-color: $color-four;
}
.five {
    background-color: $color-five;
}
.six {
    background-color: $color-six;
}
.seven {
    background-color: $color-seven;
}
.eight {
    background-color: $color-eight;
}
.nine {
    background-color: $color-nine;
}
.ten {
    background-color: $color-ten;
}

.custom-control-label {
    cursor: pointer;

    &:before,
    &:after {
        display: none;
    }
}

.was-validated {
    label{ 
        color: white;
        border-color: white;
    }
}

.custom-control-input:disabled~.custom-control-label {
    color: white;
}

.is-transparent {
    opacity: 0.3;
}