/** 
 * Overlay
 */

 #overlay1, #overlay2 {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.97;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    h1 {
        margin: 0 5% 6% 5%;

        @include mq(md) {
            margin: 0 5% 3% 5%;
        }
    }

    h4 {
        margin: 0 11% 6% 11%;

        @include mq(md) {
            margin: 0 5% 3% 5%;
        }
    }

    a{
        line-height: inherit;
        height: 47px;
        font-size: 15px;
    }

    img {
        height: 35px;
        margin-top: -4px;

        @include mq(xs) {
            height: 35px;
            margin-top: -4px;
        }
        @include mq(sm) {
            height: 40px;
            margin-top: -10px;
        }

        @include mq(md) {
            height: 50px;
            margin-top: -10px;
        }
    
        @include mq(lg) {
            height: 60px;
            margin-top: -10px;
        }
    }
 }