#snack {
    .zero {
        background-color: #D9B74F;
    }
    .one {
        background-image: linear-gradient(to right, #D4B34E, #C7A74C);
    }
    .two {
        background-image: linear-gradient(to right, #C3A34B, #B69849);
    }
    .three {
        background-image: linear-gradient(to right, #B09349, #A48848);
    }
    .four {
        background-image: linear-gradient(to right, #9F8447, #927846);
    }
    .five {
        background-image: linear-gradient(to right, #8E7445, #816945);
    }
    .six {
        background-image: linear-gradient(to right, #7C6645, #6F5A44);
    }
    .seven {
        background-image: linear-gradient(to right, #6B5645, #5D4A44);
    }
    .eight {
        background-image: linear-gradient(to right, #594645, #4D3B44);
    }
    .nine {
        background-image: linear-gradient(to right, #483745, #3B2B46);
    }
    .ten {
        background-color: #382A46;
    }
}
