/** 
 * Base
 * -------------------------------------------------- */

::-moz-selection { 
    background: $color-blue-dark;
    color: white;
}

::selection {
    background: $color-blue-dark;
    color: white;
}

html {
    height: 100%;
}

body {
    font-family: $family-medium;
    line-height: 1.75;
    height: 100%;
    display: flex;
    flex-direction: column; 

    // Display sass-mq active breakpoint helper, to hide this uncomment the first line
    &:before {
        content: none;
        z-index: 9999;
        top: auto;
        bottom: 0;
        font-family: 'Calibre', Arial, sans-serif;
    }    
}

.container {
    flex: 1 0 auto;
}

section {
    padding-top: $spacing-4;
    padding-bottom: $spacing-4;

    @include mq(md) {
        padding-top: rem(100px);
        padding-bottom: rem(100px);
    }
}

sup {
    font-size: 0.6em;
    text-decoration: underline;
}

ul {
    padding: 0;
}

.row {
    padding: 10px 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right:0;
}

a, p {
    @include mq(sm) {
        font-size: 18px;
    }
}


/**
 * Images
 *
 * 1. Offset `alt` text from surrounding copy.
 * 2. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
svg {
    flex-shrink: 0;
    max-width: 100%;
    font-style: italic; // [1]
    vertical-align: middle; // [2]
    height: auto;
}

// If a `width` and/or `height` attribute have been explicitly defined, let’s not make the image fluid.
svg[width], svg[height],
img[width], img[height] {
    max-width: none;
}