/** 
 * Common
 * -------------------------------------------------- */


/**
 * Text colours
 */

// Primary
.text-yellow    { color: $color-yellow; }
.text-blue      { color: $color-blue; }
.text-blue-dark { color: $color-blue-dark; }
 
// Secondary
.text-orange     { color: $color-orange; }
.text-aqua-blue  { color: $color-aqua-blue; }
.text-aqua-green { color: $color-aqua-green; }
 
// Grays
.text-gray-light { color: $color-gray-light; }
.text-gray       { color: $color-gray; }
.text-gray-dark  { color: $color-gray-dark; }


/**
 * Text sizes
 */
.size-xs { @include font-size(18px); }
.size-sm { @include font-size(20px); }
.size-md { @include font-size(26px); }
.size-lg { @include font-size(30px, 1.6); }


/**
 * Font families
 */
.family-light  { font-family: $family-light; }
.family-medium { font-family: $family-medium; }
.family-bold   { font-family: $family-bold; }


/**
 * Backgrounds
 */

// Primary
.bg-yellow    { background-color: $color-yellow; }
.bg-blue      { background-color: $color-blue; }
.bg-blue-dark { background-color: $color-blue-dark; }
.bg-black { background-color: $color-black; }
 
// Secondary
.bg-orange     { background-color: $color-orange; } 
.bg-aqua-blue  { background-color: $color-aqua-blue; }
.bg-aqua-green { background-color: $color-aqua-green; }
 
// Grays
.bg-gray-light { background-color: $color-gray-light; }
.bg-gray       { background-color: $color-gray; }
.bg-gray-dark  { background-color: $color-gray-dark; }

.bg-gradient {
    background: $color-blue-dark;
    background: linear-gradient(135deg, #163068 0%, $color-blue-dark 350px, $color-blue-dark 100%);
}


/**
 * Responsive line break helpers
 */
 br.sm {
    display: none;

    @include mq(sm) {
        display: inline;
    }
}

br.md {
    display: none;

    @include mq(md) {
        display: inline;
    }
}

br.lg {
    display: none;

    @include mq(lg) {
        display: inline;
    }
}

br.xl {
    display: none;

    @include mq(xl) {
        display: inline;
    }
}
