/** 
 * Fonts
 * -------------------------------------------------- */
 
 @font-face {
	font-family: Calibre-Light;
	src: url('/fonts/webfonts/CalibreWeb-Regular.eot');
	src: url('/fonts/webfonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/webfonts/CalibreWeb-Regular.woff2') format('woff2'), url('/fonts/webfonts/CalibreWeb-Regular.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
 @font-face {
	font-family: Calibre-Regular;
	src: url('/fonts/webfonts/CalibreWeb-Regular.eot');
	src: url('/fonts/webfonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/webfonts/CalibreWeb-Regular.woff2') format('woff2'), url('/fonts/webfonts/CalibreWeb-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Calibre-Bold;
	src: url('/fonts/webfonts/CalibreWeb-Bold.eot');
	src: url('/fonts/webfonts/CalibreWeb-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/webfonts/CalibreWeb-Bold.woff2') format('woff2'), url('/fonts/webfonts/CalibreWeb-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Calibre-Semibold;
	src: url('/fonts/webfonts/CalibreWeb-Semibold.eot');
	src: url('/fonts/webfonts/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'), url('/fonts/webfonts/CalibreWeb-Semibold.woff2') format('woff2'), url('/fonts/webfonts/CalibreWeb-Semibold.woff') format('woff');
	font-weight: 500;
    font-style: normal;
}