/** 
 * Layout
 * -------------------------------------------------- */


.container {

    @include mq(md) {
        padding-right: rem(30px);
        padding-left: rem(30px);
    }
}

//doesn't allow scrolling
// body {
//     overflow: hidden;
// }