/**
 * Typography
 * -------------------------------------------------- */


/**
 * Headings
 */
h1, h2, h3, h4 {
    // text-align: center;
    color: white;
}

h1, .h1 {
    margin-left: 3%;
    margin-right: 3%;
    
    @include font-size(75px, 1);
    font-family: $family-medium;
    letter-spacing: rem(-1px);

    @include mq(md) {
        @include font-size(110px, 0.9);
    }

    @include mq(lg) {
        @include font-size(215px, 0.8);
        letter-spacing: rem(1px);
    }
}

h2, .h2 {
    @include font-size(24px, 1.333);
    font-family: $family-body;

    @include mq(md) {
        @include font-size(40px, 1.2);
    }

    &.section {
        text-align: center;

        &:after {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

h3, .h3 {
    @include font-size(24px, 1.2);

    @include mq(lg) {
        @include font-size(30px, 1.5);
    }
}

h4, .h4 {
    @include font-size(16px, 1.6);

    @include mq(xs) {
        @include font-size(20px, 1.5);
    }

    @include mq(sm) {
        @include font-size(24px, 1.5);
    }
}

h5, .h5 {
    text-align: left;

    @include mq(xs) {
        @include font-size(16px, 1.5);
    }

    @include mq(sm) {
        @include font-size(21px, 1.7);
    }

    @include mq(sm) {
        @include font-size(23px, 1.7);
    }

    @include mq(xl) {
        @include font-size(24px, 1.7);
    }
}