/**
 * Variables
 * -------------------------------------------------- */


$g-font-size: 16px !default;


/**
 * Brand colours
 */

// Primary
$color-yellow:    #e8a124;
$color-blue:      #193b71;
$color-blue-dark: #0c1228;
$color-red: #ff0000;
$color-white: #ffffff;
$color-black: #000000;

// Secondary
$color-orange:     #e96224;
$color-aqua-blue:  #38c2d6;
$color-aqua-green: #bde2d2;

// Grays
$color-gray-light: #ebe8e1;
$color-gray:       #928983;
$color-gray-dark:  #808080;

//numbers
$color-zero: #c03e60;
$color-one: #d93c25;
$color-two: #d95225; 
$color-three: #d96c25;
$color-four: #d98425;
$color-five: #d99525;
$color-six: #c0a03f;
$color-seven: #9fa661; 
$color-eight: #7aae90; 
$color-nine: #4da7b2; 
$color-ten: #1db2e2;

/**
 * Animations
 */
$ease-bezier: cubic-bezier(.5, 0, .1, 1);


/**
 * Font families
 */
$family-light:         'Calibre-Light', Arial, sans-serif;
$family-body:          'Calibre-Regular', Arial, sans-serif;
$family-regular:       'Calibre-Regular', Arial, sans-serif;
$family-medium:        'Calibre-Semibold', Arial, sans-serif;
$family-bold:          'Calibre-Bold', Arial, sans-serif;


/**
 * Spacing variables, matches Bootstrap 4 style
 *
 * Notes:
 * 1. $spacer is a Bootstrap variable
 * 2. Steps are as follow: 10, 20, 40, 60, 120
 */
$spacer: 2.5rem;

$spacing-1: $spacer * 0.25;
$spacing-2: $spacer * 0.5;
$spacing-3: $spacer;
$spacing-4: $spacer * 1.5;
$spacing-5: $spacer * 3;


/**
 * Misc
 */
