/**
 * Vertical rhythm
 * -------------------------------------------------- */


h1, h2 {
    margin-bottom: $spacing-2;
    margin-top: $spacing-3;
}
 
h3, h4 {
    margin-bottom: $spacing-2;
    margin-right:15px;
    margin-left: 15px;
    
    @include mq(sm) {
        margin-bottom: $spacing-2;
    }
}
 
p, ul, ol, .h3, .h4 {
    margin-bottom: $spacing-1;

    &:last-child {
        margin-bottom: 0;
    }
}


/**
 * Bootstrap helpers
 */
.row.mb-col > [class*='col-'] { // Add bottom margin to columna
    margin-bottom: $spacing-4;

    &:last-child {
        margin-bottom: 0;
    }
}